
body{
	margin: 0;
	padding: 0;
	background-color: #070e31;
}
.register-div{
	
	border-width:1px;
	border-style: solid;
	border-color:#616575;
	height:470px;
	width:400px;
	float: left;
	margin-left:450px;
	margin-top:10px;
	background-color:#070e31;
;
	border-radius:10px;

   	
}
.register-entry{
	width:95%;
	height:35px;
	border-style:solid;
	border-color: #616575;
	background-color:#070e31;
	border-radius:4px;
	margin:5px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	margin-left:8px;
	color: white;
	font-weight:normal;
	font-size:16px;
	font-family:sans-serif;
		
}
.register-entry:hover{
background-color: #050a23;
	
}

.register-btn{
	margin-top:20px;
	height: 40px;
	width:50%;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color:forestgreen;
	color: white;
	font-weight: bold;
}
.register-btn:hover{
	background-color:darkgreen;
	font-weight:normal;
}
.title-h2{
	color: white;
	margin-left: 560px;
	margin-bottom: 1px;
	font-weight: normal;
	font-family:sans-serif;
}
.conform-h2{
	color: white;
	margin-left: 520px;
	margin-bottom: 1px;
	font-weight: normal;
	font-family:sans-serif;
	
}
.conform-div{
	
	float: left;
	border-width:1px;
	border-style: solid;
	border-color: #616575;
	height: 450px;
	width: 98%;
	margin-left: 10px;

	
}


.conform-div{
	
	float: left;
	border-width:1px;
	border-style: solid;
	border-color: #616575;
	height: 410px;
	width: 98%;
	margin-left: 10px;
	text-align: center;


	
}

.conform-input{
	
height: 45px;
width: 45%;
padding: 2px;
margin: 1px;
margin-top: 5px;
margin-left: 0px;
border-radius:4px;
background-color:#070e31;
border-width: 1px;
border-style: solid;
border-color: #616575;
text-align: center;
color: white;
font-weight: bold;
cursor: pointer;

	
	
}
.conform-input:hover{
	
	background-color: #050a23;
}

.conform-sub-btn{
	
	margin-top:20px;
	height: 40px;
	width:10%;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color:forestgreen;
	color: white;
	font-weight: bold;
	
}
.conform-sub-btn:hover{
background-color:darkgreen;
font-weight:normal;
}